@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Fredoka:wght@300..700&family=Gamja+Flower&family=Moirai+One&family=Raleway+Dots&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Swanky+and+Moo+Moo&display=swap');


*{
background-color: wheat;
font-family: "Gamja Flower";
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

h1{
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-size: 50px;
    text-decoration:underline dotted darkred;
    margin-bottom: 70px;
}

h2{
    
    font-style: oblique;
}

.education{
    border: dotted darkblue;
    padding: 35px;
    border-radius: 4rem;
}

.skills{
    border: dotted darkblue;
    padding: 35px;
    border-radius: 4rem;
}

.services{
    border: dotted darkblue;
    padding: 35px;
    border-radius: 4rem;
}



